@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display&family=Righteous&family=Russo+One&display=swap');

:root {
    --bs-petrol: #002F3B;
    --bs-lightblue: #CEE2E8;
    --bs-orange: #FE5C22;
    --bs-beige: #EFCAAE;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

input, select {
    max-width: 280px;
}

body {
    color: var(--bs-petrol);
}
h1, h2, h3, h4 {
    font-family: 'DM Serif Display', serif;
}

.navLogo {
    width: 100%;
}

.navEdit {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /*VIHREÄ*/
    /*background: linear-gradient(160deg, #30742f, #4c9b32);
    color: rgb(255 255 255 / 68%);*/
    /*SININEN*/
    /*    color: #212529;
*/ /*font-size: large;*/
    background: linear-gradient(9deg, #74a2b2, #c8d8dd);
    padding: 5px;
    font-family: Calibri;
}

.navbar-nav a {
    font-size: large;
    font-family: Calibri;
}

.nav-link {
    color: #003e4d !important;
}


/*Haku oikeaan reunaan*/
.toSide {
    justify-content: flex-end;
}
/*------------*/

/*Hover efektit ja lisää naviasetuksia*/

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    color: #002f3b;
    transform: scale(1.2);
}
/*--------*/

.underline {
    position: relative;
}

.underline::before {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 0;
    height: 2px;
    background-color: var(--bs-petrol);
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.underline-home::before {
    bottom: 5px;
}

@media (hover: hover) and (pointer: fine) {
    .underline:hover::before {
        left: 0;
        right: auto;
        width: 100%;
    }
}

/*-----------*/

.dropdown {
    display: flex;
}
.teppo {
    display: flex;
    align-items: center;
    align-self: center;
    height: 80%;
}
  
  
/*Searchbar*/
.container-input {
    position: relative;
    display: flex;
    height: 80%;
    align-self: center;
}

.input {
    width: 150px;
    padding: 8px 0px 10px 35px;
    border-radius: 16px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
    
}

.container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

.input:focus {
    opacity: 1;
    width: 250px;
}
/*---------------*/

/*ETUSIVU*/

#otsikko {
    font-family: 'DM Serif Display', serif;
    text-align: center;
    font-size: 60px;
    padding: 30px;
    margin-bottom: 40px;
}


/*Karusellin tekstin taustalle vaalennusta*/
.crslBg {
    background-image: radial-gradient( #ffffff94, #fff0);
    padding: 10px;
    width: fit-content;
    margin: 0 auto;
}

/*"Katso tästä"*/

.katsoCarousel {
    margin-bottom: 80px;
}


.katsoTästä {
    margin-top: 30px;
    color: #002f3b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    padding: 30px;
}

.katsoTästä h2 {
    font-size: xx-large;
    font-family: 'DM Serif Display', serif;
}

.katsoTästä section {
    position: relative;
    top: 40px;
}

.katsoTästäBtn {
    border: 0px;
    background-color: transparent;
    font-size: x-large;
    transition: 0.15s ease-in-out;
    margin: 10px;
}

/*----------*/

.teksti {
    background-color: #efcaae;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1080%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c476 C 288%2c401.2 1152%2c176.8 1440%2c102L1440 560L0 560z' fill='rgba(239%2c 202%2c 174%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c38 C 288%2c110.4 1152%2c327.6 1440%2c400L1440 560L0 560z' fill='rgba(116%2c 162%2c 178%2c 0.63)'%3e%3c/path%3e%3cpath d='M 0%2c17 C 288%2c115.8 1152%2c412.2 1440%2c511L1440 560L0 560z' fill='rgba(206%2c 226%2c 232%2c 0.72)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1080'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    margin: 0 auto;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.tekstiCont {
    width: 80%;
    padding: 20px;
}

.kuvaParallax {
    background-color: #efcaae;
    background-image: url("/Images/rock-climbing-gda966f741_1920.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 500px;
}

.asiakasKokemus {
    background-color: var(--bs-lightblue);
    padding: 50px;
    margin: 0px;
    margin-bottom: 80px;
}

#palauteOtsikko {
    display: flex;
    height:fit-content;
    justify-content: center;
    padding: 20px;
}


.palauteNimi {
    color: var(--bs-orange);
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 0px;
}

/*Onko kysyttävää*/

.palauteLomakeCont {
    background-image: url(/Images/Jetiside-taustaa.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 10px;
}

.lomakeOtsikot, .palauteLomakkeet, .lomakeBtn {
    width: 60%;
}

.palauteLomakkeet {
    display: flex;
    flex-direction: column;
}

.palauteLomakkeet input {
    max-width: 700px;
}

#lomakeIso {
    min-height: 150px;
    resize: none;
}

.lomakeBtn {
    display: flex;
    justify-content: flex-end;
}

/*Etusivu loppuu*/

/*Viestinlähetyssivu*/

.msgBox {
    width: 50%;
    height: 300px;
    box-shadow: -12.8px -12.8px 9.9px rgba(0, 0, 0, 0.015), 18.4px 18.4px 33.3px rgba(0, 0, 0, 0.026), 100px 100px 149px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Viestinlähetyssivu loppuu*/

/*Meistä*/
#title, .abouth3 {
    font-family: 'DM Serif Display', serif;
}

/*Meistä loppuu*/

/*Tuotteet*/

.card-header {
    text-align: center;
}

.prodImg {
    width: 100%;
    object-fit: cover;
    height: 17vw;
}

.card-footer a {
    color: var(--bs-petrol);
    text-decoration: none;
}
.card-footer a:hover {
    text-decoration: underline;
}

    /*Buttoneita*/
    .btnn {
        font-size: 1rem;
        font-weight: 400;
        color: #282c2e;
        line-height: 1.5;
        padding: 0.375rem 0.75rem;
        border: 1px solid;
        border-radius: 0.375rem;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
    }

.btnn:hover {
    color: #f6f6f6;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.btnn a {
    text-decoration: none;
    color: #282c2e;
}

.btnn a:hover {
    color: #f6f6f6;
}

.saveBtn {
    background-color: #e8a57a;
    border-color: #cd8455;
}

.saveBtn:hover {
    background-color: #d98956;
    border-color: #cd8455;
}

.backBtn {
    background-color: #7ea8b7;
    border-color: #7db5bf;
}

.backBtn:hover {
    background-color: #5a8b9d;
    border-color: #7db5bf;
}

.deleteBtn {
    background-color: #a96350;
    border-color: #99442d;
}

    .deleteBtn:hover {
        background-color: #96513e;
        border-color: #99442d;
    }

/*Rekkaus hover*/

.reg {
    position: relative;
    color: #000;
    text-decoration: none;
    font-weight: 400 600;
}

.reg a {
    text-decoration: none;
}

.reg:hover {
    color: #000;
}

/* LoginModaalin asetuksia*/

.modal-content {
    width: 100%;
    max-width: 1300px;
}

.loG {
    padding: 0;
}

.logModal {
    background-image: url(/Images/jetiside-tausta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.loginSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.modalPic {
    display: flex;
    border-radius: 0px 5px 5px 0px;
    overflow: hidden;
    padding: 0;
    filter: brightness(90%);
}

.modalImg {
    width: 100%;
    height: 100%;
    animation: scl 2s;
}

@keyframes scl {
    0% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1.0);
    }
}

/*-----------------------*/


footer {
    width: 100%;
    /*    background-color: #003a49;
*/ /*background: linear-gradient(150deg, #004353, #003a49, #002f3b);*/
    /*background: linear-gradient(130deg, white, #002f3b);*/
    background: linear-gradient(9deg, #5e8593, #426672);
    color: #dee2e6;
}

.footerNav {
    display: flex;
    justify-content: center;
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: #d9d9d9;
}
footer a:hover {
    color: #fff;
}

ul {
    list-style-type: none;
}

footer li {
    margin: 10px;
    font-size: 14px;
}

/*-----------*/

/*Media screenit*/

@media screen and (max-width: 1900px) {

    .prodImg {
        height: 22vw;
    }
}

@media screen and (max-width: 990px) {
    .prodImg {
        height: 30vw;
    }

    .logModal {
        display: block;
    }

    .modalPic {
        display: none;
    }

    .LogModal {
        top: auto;
    }

    .lomakeOtsikot, .palauteLomakkeet, .lomakeBtn {
        width: 100%;
    }
}


@media screen and (max-width: 768px) {

    .toSide {
        align-items: center;
    }

    .palauteLomakeCont {
        padding: 30px 0px;
    }

    #otsikko {
        font-size: 50px;
    }

    .katsoTästä h2 {
        font-size: xx-large;
    }

    .prodImg {
        height: 70vw;
    }

    /*Footerin tekstit keskelle*/
    .footerNavCol {
        display: flex;
        justify-content: center;
    }

    .footerMove {
        position: relative;
        right: 25px;
    }

    .palauteLomakeCont {
        background-repeat: no-repeat;
        background-size: 150%;
    }
}

