/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Logon keskitys*/
.navLogo {
    display: flex;
    margin: 0 auto;
}

/*Haku oikeaan reunaan*/
.toSide {
    justify-content: flex-end;
}

.carouselCont {
    width: 50%;
    margin: 0 auto;
}

/*Tekstin taustalle vaalennusta*/
.crslBg {
    background-image: radial-gradient( #ffffff94, #fff0);
    padding: 10px;
    width: fit-content;
    margin: 0 auto;
}
