/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navLogo {
    width: 100%;
}
.navEdit {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: linear-gradient(160deg, #30742f, #4c9b32);
    color: rgb(255 255 255 / 68%);
}


/*Haku oikeaan reunaan*/
.toSide {
    justify-content: flex-end;
}

/*Ulos -painike*/

.out {
    display: flex;
    align-self: center;
    height: 80%;
    margin-left: 10px;
}

#logOut {
    font-family: inherit;
    font-size: 16px;
    background: #c75435;
    color: white;
    padding: 0.5em 0.5em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
}

    #logOut span {
        display: block;
        margin-left: 0.3em;
        transition: all 0.3s ease-in-out;
    }

    #logOut i {
        display: block;
        transform-origin: center center;
        transition: transform 0.3s ease-in-out;
    }

    #logOut:hover .i-wrapper {
        animation: fly-1 0.6s ease-in-out infinite alternate;
    }

    #logOut:hover i {
        transform: translateX(1.2em) rotate(45deg) scale(1.1);
    }

    #logOut:hover span {
        transform: translateX(5em);
    }

    #logOut:active {
        transform: scale(0.95);
    }

/*@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}*/
  
  
/*Searchbar*/
.container-input {
    position: relative;
    display: flex;
    height: 80%;
    align-self: center;
}

.input {
    width: 150px;
    padding: 8px 0px 10px 35px;
    border-radius: 16px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
    
}

.container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

.input:focus {
    opacity: 1;
    width: 250px;
}
/*---*/

.carouselCont {
    width: 50%;
    margin: 0 auto;
}
/*Tekstin taustalle vaalennusta*/
.crslBg {
    background-image: radial-gradient( #ffffff94, #fff0);
    padding: 10px;
    width: fit-content;
    margin: 0 auto;
}

/*Tuotteet*/
.prodImg {
    width: 100%;
    object-fit: cover;
    height: 25vw;
}


footer {
    width: 100%;
    /*    background-color: #003a49;
*/ background: linear-gradient(150deg, #004353, #003a49, #002f3b);
    /*background: linear-gradient(130deg, white, #002f3b);*/
    color: #dee2e6;
}
.footerNav {
    display: flex;
    justify-content: center;
    padding: 20px;
}

footer a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

footer li {
    margin: 10px;
    font-size: 14px;
}


@media screen and (max-width: 990px) {
    .prodImg {
        height: 70vw;
    }

}


@media screen and (max-width: 768px) {

    .toSide {
        align-items: center;
    }
    /*Footerin tekstit keskelle?*/
/*    .footerNavCol {
        display: flex;
        justify-content: center;
    }
    .footerMove {
        position: relative;
        left: 20px;
    }*/
}