@{
    ViewBag.Title = "JETISIDE";
}
<br />
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <br />
    <div class="row">
        <div class="col-md-6">
            <p>Tervetuloa seikkailijan unelmakauppaan! Olemme ulkoiluvaatteisiin ja vaellustarvikkeisiin erikoistunut pienyritys, joka tarjoaa kaiken, mitä tarvitset liikkuessasi luonnossa. Valikoimamme sisältää laadukkaita ulkoiluvaatteita ja vaellusvarusteita, kuten telttoja, juomapulloja, vaelluskenkiä ja reppuja.</p>
            <p>Olemme sitoutuneet tarjoamaan asiakkaillemme parhaita luontokokemuksia, ja siksi panostamme laatuun kaikessa, mitä teemme. Valikoimassamme on vain luotettaviksi todettujen merkkien tuotteita, jotka ovat testattu vaativissa olosuhteissa ja joilla on vankka maine retkeilyalan ammattilaisten keskuudessa. Valitessasi meidät vaellusvarusteidesi toimittajaksi, voit siis luottaa siihen, että vastaanottamasi tuotteet ovat laadukkaita ja kestäviä. Olemme ylpeitä siitä, että voimme tarjota valikoiman tuotteita, jotka sopivat erilaisiin tarpeisiin ja budjetteihin. Valikoimamme kattaa kaikki tärkeimmät ulkoilu- ja vaellusvarusteet, jotka tarvitset onnistuneeseen vaellukseen pohjoisen vaihtelevissa sääolosuhteissa.</p>
            <p>JETISIDE on täällä auttaakseen sinua saavuttamaan unelmiesi seikkailun luonnossa, jotta sinä voit keskittyä nauttimaan olostasi ja luomaan elinikäisiä muistoja.</p>
        </div>
        <div class="col-md-6">
            <img src="~/Images/Jetiside_meistä3.png">
        </div>
    </div>
</main>
<br />
@{
    Html.RenderPartial("_LoginModal");
}
