
@{
    ViewBag.Title = "SendEmail";
}

<center>
    <div class="msgBox">
        <h2>Sähköposti lähetetty onnistuneesti.</h2>
        <p>Vastaamme viestiisi mahdollisimman pian!</p>
    </div>
</center>