@{
    ViewBag.Title = "Tervetuloa";
}

<div>
    <br />
    <center>
    <h3>Rekisteröinti onnistui.</h3>
    <p>Voit nyt kirjautua sisään</p>
    </center>
    <br />
</div>

@{
    Html.RenderPartial("_LoginModal");
}
